.homePage{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: round;
  background-image: url(../src/images/recipe.jpg);
}
button{
  width: 100px;
    height: 50px;
    font-size: 20px;
    background-color: darkseagreen;
    border-radius: 15px;
    margin-left: 50px;
    cursor: pointer;
}